body {
  background-color: #AFBAB7;
  color: #0000FF;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.3);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.8;

}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;

}

p {
  line-height: 1.7;

}

.logo {
  background: url(images/bloc-logo.png) no-repeat top center;
  margin: 20px;
  width: 100px;

}

.medium-pic {
  background: url(images/instagram-pic.jpg) no-repeat top center;
  width: 70%;

}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
